.container{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* height: 500px; */
}

.child{
    background-color: brown;
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}