.container {
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin-top: 15px;
  flex-wrap: wrap;
  /* height: 500px; */
}

.child {
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.445);
  padding: 20px;
  width: 30%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.h1 {
  background-color: white;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.445);
  padding: 20px;
  border-radius: 10px;
}

.child button {
  color: white;
  background-color: black;
}

.total{
  display: block;
  background-color: white;
  width: 40%;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.445);
  padding: 5px 0px;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    width: 100%;
  }
  .child {
    width: 80%;
  }
}
